
.BackgroundHomeUsuario {
    background-image: url('../background.jpg'); /* Asegúrate de ajustar la ruta */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
  }
  