
html {
    background-image: url('../background.jpg'); /* Asegúrate de ajustar la ruta */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
  }
  