
.HomeUsuarioContent {
    background-image: url('../img/background.jpg'); /* Asegúrate de ajustar la ruta */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
  }



.BackgroundPropietario {
  background-image: url('../img/background.jpg'); /* Asegúrate de ajustar la ruta */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}