.Permisos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ff4500, #ff9900);
}
/* 

.EfectosPelota {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 100%; Comienza desde el margen derecho
    animation: pelotaAnimation 5s linear forwards infinite;
  }
  
  @keyframes pelotaAnimation {
    0% {
      left: 100%;  Comienza desde el margen derecho 
      bottom: 65%;
      transform: rotate(360deg);
    }
    25% {
      left: 48%; Mueve la pelota hacia el centro 
      bottom: 90%;
    }
    50% {
      left: 48%;  La pelota se detiene en la posición vertical
      bottom: 65%;
    }
    75% {
      left: 48%;
      bottom: 65%;
      transform: translateY(-30px);
    }
    100%{
      left: 48%;
      bottom: 65%;
      transform: translateY(-10px);
    } 
  }
  */

  